html,
body {
    height: 100%;
    background: #eaedf2;
    min-width: 270px;
}

.task, pre, div {
    font-size: 17px;
}

pre, textarea {
    -moz-tab-size: 4 !important;
    -o-tab-size: 4 !important;
    tab-size: 4 !important;
}

* {
    outline: none !important;
}

ul, label {
    margin: 0;
    padding: 0;
}

.hljs-comment {
    color: green;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
    padding: 0 0 50px;
}

.wrap > .container {
    padding: 15px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.code-textarea,
#contactform-body {
    display: block;
    resize: none;
    width: 100%;
    height: 250px;
}

#contactform-body {
    color: black;
    -webkit-text-fill-color: black;
}

.hljs {
    background: none;
    padding: 0;
    display: inline;
}

pre {
    padding: 0;
    margin: 0;
    border: none;
}

code.php {

}

.well.result {
    height: 250px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.width48 {
    min-width: 48%;
}

.w65 {
    width: 65%;
}

.row {
    margin: 0;
}

.clear {
    clear: both;
}

td.well {
    vertical-align: top;
}

.error-summary, .success {
    display: inline-block;
    background: none;
    border-left: none;
    padding: 0;
    margin: 0;
}

.error-summary ul {
    margin: 0;
}

.error-summary li {
    list-style: none;
}

.error-summary ul {
    padding: 0;
}

.result-title {
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.hljs {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.success {
    color: lightgreen;
}

.next, .prev {
    display: inline-block;
    float: right;
    text-decoration: none;
    position: relative;
}

.next:hover, .prev:hover {
    background: #cecece;
}

.next:hover a, .prev:hover a {
    color: black !important;
}

.next a,
.prev a {
    color: #cecece !important;
}

#yii-debug-toolbar {
    display: none !important;
}

.task-list .checked {
    background: url('../images/checked.png') no-repeat 0 0;
}

.task-list .checked a {
    color: green;
}

.task-list a {
    color: black;
}

.task-list .task {
    padding-left: 20px;
}

#highlighted-code {
    height: 300px;
    position: absolute;
    z-index: 50;
    background: #f5f5f5;
    top: 25px;
    height: 300px;
    width: 100%;
}

#highlighted-code code.php {
    left: 0;
}

textarea.code-textarea::-webkit-input-placeholder {
    color: transparent;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.code-area {
    position: relative;
    top: -5px;
}

.code-area .control-label {
    display: block;
    height: 28px;
    font-size: 20px;
}

.code-textarea {
    z-index: 100;
    position: relative;
    background: transparent;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 90%;
    padding: 0;
    margin: 0;
    line-height: 18px;
    outline: none;
    height: 300px;
    top: -4px;
    left: -1px;
    font-size: 17px;
    line-height: 24px;
}

textarea {
    font-size: 24px;
    padding: 10px;
    color: black;
    text-shadow: 0px 0px 0px transparent;
    -webkit-text-fill-color: transparent;
}

textarea::-webkit-input-placeholder {
    color: transparent;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.well {
    border-color: rgb(169, 169, 169);
}

.separator {
    margin-top: 15px;
    height: 1px;
    width: 100%;
    background: black;
}

.has-error .control-label,
.has-success .control-label {
    color: black !important;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.error {
    color: #a94442;
}

.success {
    color: green;
}

.func-description {
    padding: 5px;
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

.email-success {
    padding: 20px;
    border: 1px solid green;
    display: block;
    margin-bottom: 20px;
    margin-left:15px;
    margin-right:15px;
}

.output {
    width: 390px;
}

.task-list a {
    text-decoration: underline;
}

.task-list a:hover {
    opacity: 0.8;
}

.footer {
    background: #222;
}

.header-nav {
    position: relative;
}

.mobile-prev-next-btns {
    display: none;
}

.header {
    background: #222;
    display: block;
    overflow: hidden;
}

.footer-holder, .header-holder {
    max-width: 1140px;
    margin: 0 auto;
}

.header-holder {
    overflow: hidden;
}

.header-title h1 {
    font-size: 22px;
    padding: 13px 0;
    margin: 0;
    font-weight:bold;
}

.navigation {
    overflow: hidden;
}

.navigation li {
    list-style: none;
    display: block;
    border-right: 1px solid white;
    float: left;
}

.navigation li:hover {
    background: #cecece;
    cursor: pointer;
}

.navigation li:hover a {
    color: black !important;
}

.navigation li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    line-height: 20px;
    color: #cecece;
}

footer {
    overflow: hidden;
}

.w30p {
    width: 30%;
}

.w65p {
    width: 65%;
}

.home-page-image img {
    width: 100%;
}

.plr15 {
    padding-left: 15px;
    padding-right: 15px;
}

.mobile-prev-next-btns .btn {
    font-size: 17px;
}

.result-block {
    display: none;
}
.code-area{
    position:relative;
}
.code-area.loading .loader{
    display:block;
}
.loader{
    display:none;
    background: url(../images/preloader.gif) center center no-repeat transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 111111111;
    top: -26px;
}
@media screen and (max-width: 1200px) {
    .container {
        width: 100% !important;
    }

    .home-page-image {
        text-align: center;
    }
}

@media screen and (max-width: 1170px) {
    .header-holder, .footer-holder {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .email-success{
        margin-left:15px;
        margin-right:15px;
    }
    .header-holder, .footer-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .header .navigation {
        display: none;
    }

    .site-index .w65p, .site-index .w30p {
        float: none;
        width: 100%;
    }

    .mobile-prev-next-btns {
        display: block;
    }

    .wrap > .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 450px) {
    .navigation, .navigation li {
        float: none;
    }
}

@media screen and (max-width: 350px) {
    .mobile-prev-next-btns .btn, .form-group button {
        width: 100%;
    }

    .mobile-prev-next-btns .btn, .form-group button {
        display: block;
    }

    .mobile-prev-next-btns .btn:last-child {
        margin-top: 5px;
    }
}

